.todo-editor {
    width: 100%;
	padding: 20px;

    outline: 1px solid #cba6f7;

	&__input {
		outline: 1px solid #cba6f7;
		color: #cba6f7;
		background-color: #0a000c;

		padding: 10px;
        width: 75%;

		&:hover {
			background-color: #1f1626;
		}

		&::placeholder {
			color: #cba6f7;
		}
	}

	&__button {
		outline: 1px solid #cba6f7;
		color: #cba6f7;
		background-color: #0a000c;

		padding: 10px;
        width: 25%;

		&:hover {
			background-color: #1f1626;
		}
	}
}
